<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Views Part 1</title>
</head>

<body>
   <div class="post">
         <h1>Blog Posts</h1>
         <ul>
              {% for post in object_list %}
              <li>
                {{ post.title }}
                <small>by {{ post.author }}</small>
                
              </li>
              {% endfor %}
         </ul>
   </div>
</body>

</html>